<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-------------------------------------Lib------------------------------------------>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- JQuery -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <!-- AutobahnJS -->
    <script src="js/autobahn.min.js"></script>
    <!-- AngularWAMP -->
    <script src="js/angular-wamp.min.js"></script>
    <!---------------------------------------------------------------------------------->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/alarm.js"></script>

</head>
<body ng-app="www4gridApp" ng-controller="ctrl">
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <a class="navbar-brand">
                <img class="banner " src="css/images/grideye_logo.png" alt="grideye-logo">
            </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuNavBar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="menuNavBar">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="measures.html">Measures</a></li>
                    <li><a href="alarm.html"><font color="#A5CB6E">Alarm</font></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Parameters<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="network.html">Network</a></li>
                            <li><a href="gsm.html">GSM</a></li>
                            <li><a href="freq&alarms.html">Frequency-alarms</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 text-center version-title">
                <h4 id="titleLabel">Alarms monitor</h4>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="container-fluid ">
            <div class="text-center">
                Server status: <label ng-style="customStyle.style">{{errorMsg}}</label>
            </div>
        </div>
    </div>
</div>
<div class="container tableContainer text-center">
    <h4 class="tableTitle">
        Alarm Stop
    </h4>
    <table class="table">
        <tr>
            <th>Type</th>
            <th>Parameter</th>
            <th>Time</th>
        </tr>
        <tr ng-repeat="alarm in alarmsEnd">
            <td>{{alarm.type}}</td>
            <td>{{alarm.parameter}}</td>
            <td>{{alarm.time}}</td>
        </tr>
    </table>

</div>
<div class="container tableContainer text-center">
    <h4 class="tableTitle">
        Alarm Start
    </h4>
    <table class="table">
        <tr>
            <th>Type</th>
            <th>Parameter</th>
            <th>Time</th>
        </tr>
        <tr ng-repeat="alarm in alarmsStart">
            <td>{{alarm.type}}</td>
            <td>{{alarm.parameter}}</td>
            <td>{{alarm.time}}</td>
        </tr>
    </table>
</div>
</div>
</body>
</html>

